h1{
    text-align:center;
    /* margin:0; */
}
body{
    margin: 0;
    background-color: black;
    color: aqua;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: aqua;
  color: purple;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline;
}

